.sign-in {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 400px;
  height: 400px;
  transition: 1s;
  background-color: rgba(250, 250, 250, 1);
  background-size: 200% auto;
  margin: 10px;

}

.sign-in:hover {
  /*background-color: rgba(197, 21, 31, 0.3);*/
  background-color: rgba(71, 176, 233, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

}

.sign-in:hover > h2 {
  color: white;
  /*text-decoration: underline solid white;*/
}

.sign-in-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(90deg, orange 50%, white, rgba(71, 176, 233) 80%);
  background-size: 200% auto;
  transition: 1s;


}

.sign-in-container:hover {
  background-position: right center;
}

.sign-in-welcome-header {
  font-size: 24px;
  color: rgba(0, 21, 31, 1);
  /*text-decoration: underline solid rgba(0, 21, 31, 0.3);*/
  transition: 2s;
}

.close-btn {
  position: absolute;
  background: transparent;
  top: 8px;
  right: 8px;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  transition: 1s;
  text-align: center;
}

.close-btn:hover {

}
