@keyframes skillWave {
    10% {background-color: #deecf9;}

    50% {background-color: #8db6e0;}

    /*100% {background-color: #2e70ad;}*/
}

body {
    padding-top: 50px
}

.navbar-nav {
  flex-direction: row;
  margin-right: 5px;

}

a {
  color: darkgrey;
}

.dashboard {
  background-color: #fafafa;
  display: grid;
}

.dashboard-main {

  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: 20% 40% auto;
  grid-template-rows: 10% 20% 40% auto;
}


.skill-card {
  border-radius: 5px;
  padding: 5px
}
