@keyframes skillWave {
    0% {background-color: #deecf9;}
    50% {background-color: #8db6e0;}
}

@keyframes skillWaveReact {
    10% {background-color: #deecf9;}
    50% {background-color: #8db6e0;}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes shift {
  from { grid-column 1 / 1}
  to { grid-column 1 / 3}
}

@keyframes wiggle {
  20% {transform: rotate(2deg);}
  40% {transform: rotate(-2deg);}
  60% {transform: rotate(2deg);}
  80% {transform: rotate(-2deg);}

  /*100% {transform: rotate(());}*/

}

body {
  padding-top: 50px;
  color: white;
  background-color: #fafafa;
/*  background-image: -webkit-linear-gradient(100deg, #a08c98 50%, #afacbc 50%);
  background-repeat: no-repeat;*/
}


a {
  color: darkgrey;
}
.app {

}

.dashboard {
  /*display: grid;*/
  animation: fadeIn 1s;
}

.dashboard-main {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns:  auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: stretch;
  justify-items: stretch;
  grid-area: main;
}

.dashboard-lower {
  grid-area: foot;
  color: black;
}

.story-teller {
  margin-top: 5px;
}


.skill-card {
  border-radius: 5px;
  padding: 10px;
  transition: width 5s;
}

.skill-card:hover {
  /*animation: spin !important;*/
}

.focus-item {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  animation: shift;
}

.skill-detail {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
}

.skill-detail-main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "sd sd sd main main main main main main";
}

.skill-detail-main-head {
  grid-area: hd;
}

.skill-detail-main-side {
  grid-area: sd;
}

.skill-detail-main-content {
  grid-area: main;
  color: white;
}

.story-teller {
  color: black;
}

.word {
  white-space: pre-wrap
}

.bulb-screen {
  color: black;
  display: grid;
  grid-gap: 0px 0px;
  animation: fadeIn;
  animation-duration: 0.5s;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "pos00 pos10 pos20 pos30 pos40 pos50 pos60 pos70 pos80"
    "pos01 pos11 pos21 pos31 pos41 pos51 pos61 pos71 pos81"
    "pos02 pos12 pos22 pos32 pos42 pos52 pos62 pos72 pos82"
    "pos03 pos13 pos23 pos33 pos43 pos53 pos63 pos73 pos83"
    "pos04 pos14 pos24 pos34 pos44 pos54 pos64 pos74 pos84"
    "pos05 pos15 pos25 pos35 pos45 pos55 pos65 pos75 pos85"
    "pos06 pos16 pos26 pos36 pos46 pos56 pos66 pos76 pos86"
    "pos07 pos17 pos27 pos37 pos47 pos57 pos67 pos77 pos87"
    "pos08 pos18 pos28 pos38 pos48 pos58 pos68 pos78 pos88";
}

.bulb {
  height: 10vh;
  width: 10vw;
  animation: fadeIn;
  animation-duration: 2s;
}

