@keyframes skillWave {
    0% {background-color: #deecf9;}
    50% {background-color: #8db6e0;}
}

@keyframes skillWaveReact {
    10% {background-color: #deecf9;}
    50% {background-color: #8db6e0;}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes shift {
  from { grid-column 1 / 1}
  to { grid-column 1 / 3}
}

@keyframes wiggle {
  20% {transform: rotate(2deg);}
  40% {transform: rotate(-2deg);}
  60% {transform: rotate(2deg);}
  80% {transform: rotate(-2deg);}

  /*100% {transform: rotate(());}*/

}

body {
  padding-top: 50px;
  color: white;
  background-color: #fafafa;
}


a {
  color: darkgrey;
}


.dashboard {
  /*display: grid;*/
  animation: fadeIn 1s;
}

.dashboard-main {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns:  20% 40% auto;
  grid-template-rows: 10% 20% 40%;
  align-items: stretch;
  justify-items: stretch;
  grid-area: main;
}

.dashboard-lower {
  grid-area: foot;
  color: black;
}

.story-teller {
  margin-top: 5px;
}


.skill-card {
  border-radius: 5px;
  padding: 10px;
  transition: width 5s;
}

.skill-card:hover {
  /*animation: spin !important;*/
}

.focus-item {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  animation: shift;
}

.skill-detail {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
}

.skill-detail-main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "sd sd sd main main main main main main";
}

.skill-detail-main-head {
  grid-area: hd;
}

.skill-detail-main-side {
  grid-area: sd;
}

.skill-detail-main-content {
  grid-area: main;
}

