.resource-head-menu {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  background: rgba(255, 255, 255, 0.99);
  border-radius: 5px;
  box-shadow: -2px 2px 5px rgba(10, 10, 70, 1);
  padding: 10px;
  z-index: 90;
  position: fixed;
}
