.mongo-express-canvas-resource {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
}

.mongo-express-canvas-resource:hover {
  /*background-color: grey;*/
}

.resource-name-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*border-radius: 4px;*/
  padding: 3px;
  height: 30px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.resource-name-container > h3 {
  font-size: 18px;
}

.change-name-input {
  background-color: transparent;
  border: none;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: #2E3D48;
  animation: 1s blink step-end infinite;
}

.resource-head {
  display: flex;

}

.resource-head-menu-container {
  border-radius: 10px;
  background-color: transparent;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}



@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
